<section
  class="w-full mt-20 flex flex-col h-full min-h-[52rem] justify-between items-stretch"
>
  <section class="w-full mt-20 flex justify-between items-start">
    <div class="w-5/12">
      <app-form></app-form>
    </div>
    <div class="w-5/12">
      <div class="flex flex-col w-full items-start">
        <div class="w-full">
          <h5 class="text-2xl">Insurance services</h5>
          <ul class="flex flex-wrap w-1/2 mt-4">
            <li class="mr-6">Medical expenses</li>
            <li class="mr-6">Family health insurance</li>
            <li class="mr-6">Vehicle damage</li>
            <li class="mr-6">Property loss</li>
            <li class="mr-6">Fire</li>
          </ul>
        </div>
        <div class="w-full mt-10">
          <h5 class="text-2xl">Company</h5>
          <ul class="flex flex-wrap w-1/2 mt-4">
            <li class="mr-6">About us</li>
            <li class="mr-6">Career</li>
            <li class="mr-6">Help</li>
            <li class="mr-6">FAQ</li>
            <li class="mr-6">Blog</li>
          </ul>
        </div>
        <div class="w-full mt-10">
          <h5 class="text-2xl">Bonus</h5>
          <ul class="flex flex-wrap w-1/2 mt-4">
            <li class="mr-6">Gift certificate</li>
            <li class="mr-6">Affiliate Program</li>
            <li class="mr-6">Trainings</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</section>
