<div
  #sliderNav
  class="slider-container w-full overflow-hidden flex flex-col justify-between items-center min-h-[36rem] slider-nav-appear"
>
  <div class="wrapper flex w-full">
    <div
      class="slide w-full flex-[0_0_100%] transition transform ease-in-out"
      [ngStyle]="{ transform: 'translateX(' + translateX + '%)' }"
      *ngFor="let feedbackCard of feedbackCards; trackBy: trackByFn"
      [ngClass]="{
        'duration-[2000ms]': translateX > feedbackCards.length * -100,
        'duration-0': translateX === 100 || translateX === -500,
      }"
    >
      <app-feedback-card
        [designation]="feedbackCard.personDesignation"
        [feedback]="feedbackCard.feedbackText"
        [image]="feedbackCard.personImage"
        [name]="feedbackCard.personName"
        [leavingView]="feedbackCard.leavingView"
        [enteringView]="feedbackCard.enteringView"
      ></app-feedback-card>
    </div>
  </div>
  <div class="flex mt-6 h-8 items-center">
    <div
      *ngFor="let feedbackCard of feedbackCards; index as i; trackBy: trackByFn"
      class="rounded-full cursor-pointer mx-2 bg-gray-700 h-4 w-4 z-10 relative"
      (click)="onSlideChange(i)"
    >
      <div
        class="absolute -top-[1px] -left-[1px] bg-white w-[18px] h-[18px] z-20 rounded-full nav-zoom"
        *ngIf="currentIndex === i"
      ></div>
    </div>
  </div>
</div>
