.slider-nav-appear {
  transform: translateY(200%) translateX(-50%) scale(0.2);
  opacity: 0;
  animation: moveNav 1.5s ease-in-out forwards;
  animation-delay: 0.5s;
}
@keyframes moveNav {
  0% {
    transform: translateY(200%) translateX(-50%) scale(0.2);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) translateY(0%) scale(1);
    opacity: 1;
  }
}
.nav-zoom {
  width: 20px;
  height: 20px;
  background-color: white;
  transform: scale(0);
  animation: zoomNav 1s linear forwards;
}
@keyframes zoomNav {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
