<div
  class="p-16 bg-gradient-to-t from-midnight-dark via-midnight to-midnight-dark"
>
  <ng-container *ngFor="let section of sections">
    <ng-container *ngIf="section.name === 'hero'">
      <app-hero-section
        scrollIntoView
        (scrolledIntoView)="onSectionVisible('hero')"
        [sectionAnimation]="section.state"
      ></app-hero-section>
    </ng-container>
    <ng-container *ngIf="section.name === 'cards'">
      <app-cards-section
        scrollIntoView
        (scrolledIntoView)="onSectionVisible('cards')"
        [sectionAnimation]="section.state"
      ></app-cards-section>
    </ng-container>
    <ng-container *ngIf="section.name === 'feedback'">
      <app-feedback-section
        scrollIntoView
        (scrolledIntoView)="onSectionVisible('feedback')"
        [sectionAnimation]="section.state"
      ></app-feedback-section>
    </ng-container>
    <ng-container *ngIf="section.name === 'support'">
      <app-support-section
        scrollIntoView
        (scrolledIntoView)="onSectionVisible('support')"
        [sectionAnimation]="section.state"
      ></app-support-section>
    </ng-container>
    <ng-container *ngIf="section.name === 'footer'">
      <app-footer-section
        scrollIntoView
        (scrolledIntoView)="onSectionVisible('footer')"
        [sectionAnimation]="section.state"
      ></app-footer-section>
    </ng-container>
  </ng-container>
</div>
