<section
  class="w-full my-20 min-h-[52rem] flex flex-col justify-center h-full items-center"
>
  <div class="flex justify-between items-stretch">
    <div class="w-1/4 text-center px-3">
      <h1 class="font-blimone-ink-trap text-[8rem] leading-none w-full mt-10">
        Support at every <span class="text-[10rem]">Step</span>
      </h1>
    </div>
    <div
      class="w-1/3 my-20 flex flex-col justify-between items-start px-3 mx-3"
    >
      <div class="w-full">
        <app-spin-icon></app-spin-icon>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
          quibusdam repudiandae similique harum enim temporibus odit nisi dicta!
          Alias blanditiis eius id incidunt deleniti veritatis repellendus
          possimus sed? Facilis, eum.
        </p>
      </div>
      <div class="w-full mt-10">
        <app-spin-icon></app-spin-icon>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
          quibusdam repudiandae similique harum enim temporibus odit nisi dicta!
          Alias blanditiis eius id incidunt deleniti veritatis repellendus
          possimus sed? Facilis, eum.
        </p>
      </div>
      <button
        class="w-full mt-10 border border-[#ff6477] text-[#ff6477] flex justify-center items-center py-3 rounded-full text-2xl"
      >
        Choose a fund
      </button>
    </div>
    <div class="w-1/6">
      <img
        src="assets/images/family.avif"
        alt="support"
        class="h-full w-full object-cover rounded-full"
      />
    </div>
  </div>
</section>
