@keyframes buttonZoom {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.button-appear-0,
.button-appear-2,
.button-appear-3,
.button-appear-4,
.button-appear-5 {
  animation: buttonZoom 1.5s forwards;
}

.button-appear-0 {
  animation-delay: 1s;
}
.button-appear-2 {
  animation-delay: 2s;
}
.button-appear-3 {
  animation-delay: 2.5s;
}
.button-appear-4 {
  animation-delay: 3s;
}
.button-appear-5 {
  animation-delay: 3.5s;
}
