/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@font-face {
  font-family: "BlimoneInkTrap";
  src: url("assets/fonts/Blimone-BoldInktrap.ttf");
}
@keyframes imageCard {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}
body {
  background-color: #0c0f17;
  color: white;
  font-family: "Poppins", sans-serif;
}

.font-blimone-ink-trap {
  font-family: "BlimoneInkTrap", "Times New Roman", Times, serif;
}
